.img-container {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.row1 {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: center;
}

#SBM3_PKG_BG_001_CGI_5024 {
  width: 100vw;
  height: 100vh;
}
#Launch_screeen_4288 {
  width: 33vh;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  height: 70vh;
}
#PROXIMAMENTE___ {
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  text-align: center;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 2vh;
  color: rgba(255, 255, 255, 1);
}
#Captura_de_Pantalla_2020_01_29 {
  margin-top: -40px;
  margin-right: auto;
  width: 362px;
  height: 147px;
  overflow: visible;
}

// @media (min-height: 950px) {
//   #Launch_screeen_4288 {
//     left: 137vh;
//   }

//   #PROXIMAMENTE___ {
//     left: 56vh;
//   }
// }

// @media only screen and (max-width: 600px) {
//   #PROXIMAMENTE___ {
//     left: -9vh;
//     top: 15vh;
//     overflow: hidden;
//     text-align: center;
//     font-family: Righteous;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 2vh;
//   }

//   #Captura_de_Pantalla_2020_01_29 {
//     position: fixed;
//     left: 4vh;
//     top: -52px;
//     overflow: hidden;
//   }
//   #Launch_screeen_4288 {
//     z-index: 10;
//     left: 10vh;
//     top: 27vh;
//     overflow: hidden;
//   }

//   #SBM3_PKG_BG_001_CGI_5024 {
//     opacity: 0;
//   }
// }
