/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-image: url("assets/images/SBM3_PKG_BG_001_CGI_5024.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
}
